################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReactAdminNetCoreServerAPI
/Common/.vs/ReactAdminNetCoreServerAPI.Common
/Common/bin/Debug/netcoreapp3.1
/Common/obj
/ReactAdminNetCoreServerAPI.APITemplate/obj
/ReactAdminNetCoreServerAPI.DemoAPI/bin/Debug/netcoreapp3.1
/ReactAdminNetCoreServerAPI.DemoAPI/obj
/ReactAdminNetCoreServerAPI.APITemplate/bin/Debug/netcoreapp3.1
/React-Admin_NetCoreServerAPI.Common/.vs/ReactAdminNetCoreServerAPI.Common
/React-Admin_NetCoreServerAPI.Common/bin/Debug/netcoreapp3.1
/React-Admin_NetCoreServerAPI.Common/obj/Debug/netcoreapp3.1
/React-Admin_NetCoreServerAPI.Common/obj
